<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="style.css">

    <title>First Form</title>
  </head>
  <body>
    <div class="form" required>
      <h1 class="text-center">Welcome {{name}} to our Website</h1>


        <form name="myForm"action="/logout" method="get" class="form" required>
        <input type="submit" value="Log Out" class="btn" />
      </form>



    </div>

  </body>
</html>
